
!!!
%html
  %head
    %title
      Frientersection
    = stylesheet_link_tag "http://developer.yahoo.com/yui/build/fonts/fonts.css"
    = stylesheet_link_tag "http://www.spry-soft.com/grids/grid.css?column_width=60&column_amount=12&gutter_width=20"
    %style
      :sass
        .clearfix 
          :clear both
  %body
    .container_12
      = yield
